{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}
	<div class="container">
		<h1 class="mb-4 text-center">Statistiques des séances</h1>

		<div
			class="row">
			<div class="col-md-4">
				<div class="card text-center bg-primary text-white p-3">
					<h3>Total des séances</h3>
					<p class="display-4">{{ totalSeances }}</p>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card text-center bg-success text-white p-3">
					<h3>Taux de remplissage des séances</h3>
					<p class="display-4">{{ tauxRemplissage }}</p>
				</div>
			</div>
		</div>

		<div class="mt-5">
			<h2 class="text-center">Popularité des thèmes d'entraînement</h2>
			<canvas id="themeChart"></canvas>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script>
		document.addEventListener("DOMContentLoaded", function () {
const ctx = document.getElementById('themeChart').getContext('2d');

new Chart(ctx, {
type: 'bar',
data: {
labels: {{ themeCounts|keys|json_encode|raw }},
datasets: [
{
label: 'Nombre de Séances',
data: {{ themeCounts|map(v => v)|json_encode|raw }},
backgroundColor: 'rgba(54, 162, 235, 0.5)',
borderColor: 'rgba(54, 162, 235, 1)',
borderWidth: 1
}
]
},
options: {
responsive: true,
plugins: {
legend: {
display: false
}
}
}
});
});
	</script>
{% endblock %}
